$sidebar-top color #690800
$left_bar_backing background-color: rgb(80, 80, 80)
$dropdown_backing  background-color: rgb(243, 216, 63)
$sidebar_font font-size: 14px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  line-height: 4.286;
  text-align: left
$logo position: absolute;
  left: 262px;
  top: 30px;
  width: 340px;
  height: 48px
$course_title font-size: 42px;
  font-family: "Lato";
  color: rgb(204, 204, 204);
  line-height: 1.2;
  text-align: left;
  left: 311.848px;
  top: 526.8px;
  
$body_text  font-size: 14px;
  font-family: "Lato";
  color: rgb(148, 148, 148);
  line-height: 1.285;
 
 
$table_title_text font-size: 14px;
  font-family: "Lato";
  color: rgb(164, 169, 174);
  font-weight: bold;
  line-height: 1.5;
 
$link_underline background-color: rgb(243, 216, 63);
  left: 320px;
  top: 846px;
  width: 206px;
  height: 8px;
